body {
    margin: 0px;
    height: 100vh;
    width: auto;
}
.header {
    background-color: #1F2937 ;
}
.top-left-side, .down-left-side {
    margin-left:435px;
    margin-bottom:90px;
}
.top-right-side, .down-right-side {
    margin-right:435px;
    margin-bottom:90px;
    gap: 20px;
}
.header-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.header-description, .header-links, .footer, .image-placeholder {
    font-size: 18px;
    color: #E5E7EB;
}
.image-placeholder {
    background-color: grey;
    width: 510px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-top:15px;
    white-space: nowrap;
}
.header-button, .section-four, .banner-button {
    color: white;
    background-color: #3882F6;
}
.header-button {
    padding: 6px 22px;
    border-radius: 7px;
    border:0px;
    font-weight: bold;
    margin-top: 5px;
}
.header-top-side, .header-down-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
}
.top-right-side {
    display: flex;
}
.title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top:32px;
    margin-bottom:32px;
}
.containers {
    display: flex;
    justify-content: center;
    gap: 32px;
}
.first-container, .second-container, .third-container, .fourth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 145px;
    text-align: center;
}
.image-container {
    border-color: #3882F6;
    border-radius: 10px;
    border-style: solid;
    padding: 65px;
}
.image-container-text {
    margin-top:5px;
    margin-bottom: 75px;
}
.section-three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}
.section-three-duplicate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    padding: 100px;
}
.description {
    align-self: center;
    font-size: 36px;
    color: #1F2939;
    font-weight: 300px;
}
.author {
    align-self: flex-end;
    font-weight: 800;
    font-size: 24px;
    margin-right: 20px;
}
.section-four {
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937 ;
    height: 100px;
}
.section-four {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    padding: 40px 100px;;
    margin: 70px auto;
    border-radius: 5px;
}
.banner-title {
    font-size: 22px;
    font-weight: 800;
}
.banner-button {
    border-color: white;
    padding: 6px 22px;
    border-radius: 7px;
    font-weight: bold;
}
a, a:visited{
    text-decoration: none;
    color:inherit;
}